{% extends "base.html" %}
{% block title %}item{% endblock %}

{% block content %}

<div class="container">
  {% if user %}
    {% if user.id == current_user.id %}
      <h1 class="text-center text-white"> My Items </h1>
    {% else %}
      <h1 class="text-center text-white"> {{user.username}}'s Items </h1>
    {% endif %}
  {% else %}
    <h1 class="text-center text-white"> Items </h1>
  {% endif %}
  <ul class="list-group">
    {% for item in items %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-10">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <a class="text-primary text-decoration-none fw-bold" href="/user-items/{{item.owner}}"> {{ item.owner_user.username }} </a>
        </div>
        <div class="col-md-2 text-end">
          <h5> {{ item.price }} ₾ </h5>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}